body {
    font-family: Arial, sans-serif;
    color: white;
}

input, textarea {
    color: black;
    background-color: black; 
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
}

.line-through {
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
}
